bin/
obj/
*.pdb
*.exe
*.dll
*.user
*.cache
*.manifest
.DS_Store
*.suo
*.nupkg
/src/packages/*
!/src/packages/repositories.config
/TestResult.xml
docs/_build
.vs
/src/app/SharpRaven.AspNetCore/project.lock.json
/src/artifacts
/src/tools/Addins
/src/tools/Cake
/src/tools/GitVersion.CommandLine/tools
/src/tools/OpenCover
/src/samples/AspNetCoreSample/project.lock.json
